.App {
  text-align: center;
}

.MemeList {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.Meme {
  width: 30%;
  position: relative;
  margin: 20px;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

.top {
  position: absolute;
}

.bottom {
  position: absolute;
  bottom: 10px;
}

.top, .bottom {
  color:rgb(220, 249, 239);
  text-shadow: 3px 3px 5px black;
  font-size: 1.5rem;
  font-weight: 500;
}

.delete {
  position: absolute;
  right: 5px;
  bottom: 10px;
  border-radius: 7px;
}
